
ПИЭ-19 Информационная система аудита ИТ-инфраструктуры организации

Компоненты системы:
1) Клиент (Миронов Ярослав, Зинкевич Никита)
2) База данных (Ветров Дмитрий)

Инструменты разработки:
1) Клиент - C# + WPF,
2) БД - MS Access.

Требования к операционной среде:
ОС Windows 10/11 (думаю, для лучшей совместимости показывать систему будем на ноутах, которые скрепим по wifi)

1) Клиент
Клиентское приложение используется для получения, актуализации и взаимодействия пользователя с файлом базы данных.

Функциональные требования (список дополняйте, если не нраица)

1) Предоставляет возможнось получить:
	- список таблиц/запросов бд,
	- осуществление их чтения, редактирования, заполнения новыми элементами, - сортировка
	- поиск по признакам
	- удаление (только администратор). Функцию удаления может выполнять только администратор, остальные могут только помечать на удаление (в бд скрытое поле "Удалено").
2) Проверяет корректность введённых данных согласно их типу, обязательности ввода. Характеристику полей получать из базы данных.
3) Должен предоставлять разграничение прав доступа при входе в программу (Администратор, бухгалтер, менеджер, да и хватит). Логин/пароль зашиты в коде клиента. 
4) Предоставление функции резервного копирования данных (база копируется в папку backup) и её восстановления (перезапись текущей бд и отправка на сервер).
5) Вызов запросов из бд.
6) Обработка всех исключений и вывод сообщений пользователю.
7) Перезапись бд в случае возникновения событий (таймер, нажатие кнопки "Сохранить" и т.д).
8) Возможность подставновки данных из других таблиц при заполнении
9) Экспорт данных в Excel
10) Обращение к файл-серверу будет осуществляться по сетевым папкам, путь базы данных должен быть постоянным.
11) Клиент должен периодически и в процессе внесения изменений проверять базы данных на файл-сервере (сравнение SHA-сумм). В случае, если локальная и серверная бд не совпадают, обновить базу данных перед изменением, внести изменения, а затем залить на файл-сервер.
